UVICORN_HOST = "127.0.0.1"
UVICORN_PORT = 8000
SUDO_USERNAME = "__ADMIN_USERNAME__"
SUDO_PASSWORD = "__ADMIN_PASSWORD__"
JWT_ACCESS_TOKEN_EXPIRE_MINUTES = 1440
DOCS = false

CUSTOM_TEMPLATES_DIRECTORY = "/var/lib/marzban/templates/"
CLASH_SUBSCRIPTION_TEMPLATE = "clash/default.yml"

SQLALCHEMY_DATABASE_URL = "sqlite:////var/lib/marzban/db.sqlite3"
